bin/
gen/
obj/
proguard/
.classpath
.project
.DS_Store
.settings
local.properties
PaginizeLib/PaginizeLib.iml
PaginizeDemo/PaginizeDemo.iml
PaginizeLib/ant.properties
PaginizeDemo/ant.properties
.idea/
out
*.out
